{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

  {% block body %}
      <section class="abonnements">
          <div class="titre">
          </br>
            <h1>Les Abonnements SDE</h1>
            </br>
            </br>
          </div>
     <div>
       <td><a href="{{ path('addAbonnement') }}" class="btn btn-success" > ⊕ Ajouter Un Abonnement </a></td> 
       </br>
       </br>
    </div>

<!--begin -->
  {% if abonnements is defined %}
  <table class="table table-hover">
  <thead>
    <tr class="table-info">
      <th scope="col"></th>
      <th scope="col">Compteur Id</th>
      <th scope="col">Contrat</th>
      <th scope="col">Ancien Cumul</th>
      <th scope="col">Nouveau Cumul</th>
      <th scope="col">Détails</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    {% for abonnement in abonnements %}
      <tr class="table-secondary">
        <th scope="row"></th>
            <compteur> 
              <td><h4>{{ abonnement.compteur.numero }}</h4></td>
              <td><h4>{{ abonnement.contrat }}</h4></td>
              <td><h4>{{ abonnement.cumulAncien }}</h4></td>
              <td><h4>{{ abonnement.cumulNouveau }}</h4></td>
              <td><h4><a href="{{ path('showAbonnement', {'id': abonnement.id}) }}" class="btn btn-primary" > Voir Details </a></h4></td>
              <td><h4><a href="{{ path('editAbonnement', {'id': abonnement.id}) }}" class="btn btn-info" > Modifier </a></h4></td>
              <td><h4><a href="{{ path('editAbonnement', {'id': abonnement.id}) }}" class="btn btn-danger" > Supprimer </a></h4></td>         
            </compteur>
      </tr>
     {% endfor %} 
  </tbody>
</table> 
{% endif %}
<!--end -->
          
      </section>
  {% endblock %}
